<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <h1 class="main-heading">Lista de Cursos</h1>
    <a class="action-link" href="../index.html">Volver</a>
    <a class="action-link" href="registrarcursos.html" id="aggDocente">Registrar</a>
    <table class="data-table" id="data-table">
        <thead>
            <tr>
                <th class="table-header">Código</th>
                <th class="table-header">Nombre</th>
                <th class="table-header">Docente</th>
                <th class="table-header"></th>
                <th class="table-header"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="../js/cursos.js"></script>
</body>
</html>