<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registrar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    <a href="cursos.html" class="action-link">volver</a>
    <form class="form" action="#" method="post">
        <h2 class="form_title">Agregar docente</h2>
        <p class="form_paragraph">Bienvenido</p>
        <div class="form_container">
            <div class="form_group">
                <input type="number" id="id" name="id_cursos" class="form_input" placeholder="" required>
                <label for="id" class="form_label">id
                    :</label>
                <span class="form_line"></span>
            </div>
            <div class="form_group">
                <input type="text" id="name" name="nombre_cursos" class="form_input" placeholder="" required>
                <label for="name" class="form_label">Nombre:</label>
                <span class="form_line"></span>
            </div>
            <div class="from_group">
                Selecciona docentes:
                <select name="codDocente" id="codDocente" required>
                    
                </select>                
            </div>

            <input type="submit" class="form_submit" id="form_submit" value="Enviar">
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="../js/aggcursos.js"></script>
</body>

</html>